html {
    min-width: 320px;
    font-family: "Menlo", "Ubuntu Mono", "Monaco", monospace;
}

body {
    margin: 0;
}

#wrapper {
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: serif;
}

p {
    text-align: center;
}

#top-wrapper {
    padding: 100px 0;
    background: #20425D;
    color: #FFF;
}

@media (max-width: 450px){
    #top-wrapper {
        padding: 30px 0;
        background: #20425D;
        color: #FFF;
    }
}

#top-wrapper a:link {
    color: #DDD;
}

#top-wrapper a:visited {
    color: #999;
}

#pycon-logo {
    max-width: 300px;
    display: block;
    margin:auto;
}

.date-and-place {
    text-align: center;
}

.date-and-place p {
    margin: 5px auto;
}

.date-and-place button {
    width: 120px;
    height: 40px;
    color: #424242;
    font-size: 1em;
    font-family: "Menlo", "Ubuntu Mono", "Monaco", monospace;
    background-color: #FFCD4A;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}

.date-and-place button:hover {
    background-color: #FED871;
}

.speakers {
    max-width: 800px;
    margin: auto;
}

.speaker {
    margin-top: 10px;
    margin-bottom: 10px;
}

.speaker p {
    margin: 0;
    text-align: center;
}

.speaker-theme {
    font-size: 1.5em;
    color: red;
}

.speaker-name {
    font-size: 1em;
}

.speaker-credentials {
    font-family: "Courier", sans-serif;
    font-size: 0.8em;
}

.sponsor-logo {
    max-width: 300px;
    max-height: 100px;
    display: block;
    margin: auto;
}

.footer {
    text-align: center;
    font-size: 0.8em;
}
